<table class="table">
    <thead>
        <tr>
            <td colspan="2" style="font-style:italic; font-weight:bold;text-align:center;">BMI Classification</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>18.5 or less</td>
            <td>Underweight</td>
        </tr>
        <tr>
            <td>18.5 to 24.99</td>
            <td>Normal Weight</td>
        </tr>
        <tr>
            <td>25 to 29.99</td>
            <td>Overweight</td>
        </tr>
        <tr>
            <td>30 to 34.99</td>
            <td>Obesity (Class 1)</td>
        </tr>
        <tr>
            <td>35 to 39.99</td>
            <td>Obesity (Class 2)</td>
        </tr>
        <tr>
            <td>40 or greater</td>
            <td>Morbid Obesity</td>
        </tr>
    </tbody>
</table>
