<p>Your BMR is the level of calories you would consume if you were in a coma. This is NOT your maintenance calorie level, which you can calculate using the equations below.</p>
<p>Once you've calculated your BMR you need to multiply it by the appropriate number given by the Harris-Benedict Equation. This coverts your BMR to the number of calories you burn in a day. The numbers for different exercise levels are as follows--</p>
<ul>
    <li><p>Little or no exercise - Calorie-calculation = BMR x 1.2</p></li>
    <li><p>Light exercise/sports 1-3 days/week - Calorie-Calculation = BMR x 1.375</p></li>
    <li><p>Moderate exercise/sports 3-5 days/week - Calorie-Calculation = BMR x 1.55</p></li>
    <li><p>Hard exercise/sports 6-7 days a week - Calorie-Calculation = BMR x 1.725</p></li>
    <li><p>Very hard exercise/sports &amp; physical job or 2x training - Calorie-Calculation = BMR x 1.9</p></li>
</ul>