@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fitness Stuff</h1>
    <p class="lead">TODO.</p>
    <p><a href="https://www.reddit.com/r/loseit/wiki/faq" class="btn btn-primary btn-lg">Lose it FAQ Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            TODO: Add Explanation
        </p>
        <p>
            @Html.ActionLink("For Men", "ForMen", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            TODO: Add Explanation
        </p>
        <p>
            @Html.ActionLink("For Women", "ForWomen", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>More Reading</h2>
        <p>TODO: Link to readings.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>